{
  ["fleet"] = "pilot-fleet",
  ["leaseSeconds"] = 30,
  ["storePath"] = "pilot-fleet.checkpoint",
  ["workers"] = {
    [11] = {
      ["home"] = {
        ["x"] = 0,
        ["y"] = 64,
        ["z"] = 0,
        ["facing"] = "north",
      },
      ["dimension"] = "minecraft:overworld",
      ["bayBounds"] = {
        ["min"] = {
          ["x"] = -1,
          ["y"] = 63,
          ["z"] = 0,
        },
        ["max"] = {
          ["x"] = 1,
          ["y"] = 65,
          ["z"] = 1,
        },
      },
    },
    [12] = {
      ["home"] = {
        ["x"] = 30,
        ["y"] = 64,
        ["z"] = 0,
        ["facing"] = "north",
      },
      ["dimension"] = "minecraft:overworld",
      ["bayBounds"] = {
        ["min"] = {
          ["x"] = 29,
          ["y"] = 63,
          ["z"] = 0,
        },
        ["max"] = {
          ["x"] = 31,
          ["y"] = 65,
          ["z"] = 1,
        },
      },
    },
  },
  ["jobs"] = {
    ["left"] = {
      ["config"] = {
        ["mode"] = "mine",
        ["job"] = "left",
        ["dimension"] = "minecraft:overworld",
        ["home"] = {
          ["x"] = 0,
          ["y"] = 64,
          ["z"] = 0,
          ["facing"] = "north",
        },
        ["bounds"] = {
          ["min"] = {
            ["x"] = -4,
            ["y"] = 63,
            ["z"] = -8,
          },
          ["max"] = {
            ["x"] = 4,
            ["y"] = 66,
            ["z"] = 0,
          },
        },
        ["length"] = 6,
        ["branchInterval"] = 3,
        ["branchLength"] = 2,
        ["torchInterval"] = 3,
        ["outputSide"] = "down",
        ["supplySide"] = "up",
        ["fuelMargin"] = 8,
        ["torchReserve"] = 1,
        ["fillReserve"] = 8,
      },
      ["footprint"] = {
        ["min"] = {
          ["x"] = -5,
          ["y"] = 63,
          ["z"] = -9,
        },
        ["max"] = {
          ["x"] = 5,
          ["y"] = 66,
          ["z"] = 1,
        },
      },
    },
    ["south"] = {
      ["config"] = {
        ["mode"] = "mine",
        ["job"] = "south",
        ["dimension"] = "minecraft:overworld",
        ["home"] = {
          ["x"] = 0,
          ["y"] = 64,
          ["z"] = 0,
          ["facing"] = "south",
        },
        ["bounds"] = {
          ["min"] = {
            ["x"] = -4,
            ["y"] = 63,
            ["z"] = 0,
          },
          ["max"] = {
            ["x"] = 4,
            ["y"] = 66,
            ["z"] = 8,
          },
        },
        ["length"] = 6,
        ["branchInterval"] = 3,
        ["branchLength"] = 2,
        ["torchInterval"] = 3,
        ["outputSide"] = "down",
        ["supplySide"] = "up",
        ["fuelMargin"] = 8,
        ["torchReserve"] = 1,
        ["fillReserve"] = 8,
      },
      ["footprint"] = {
        ["min"] = {
          ["x"] = -5,
          ["y"] = 63,
          ["z"] = -1,
        },
        ["max"] = {
          ["x"] = 5,
          ["y"] = 66,
          ["z"] = 9,
        },
      },
    },
    ["right"] = {
      ["config"] = {
        ["mode"] = "mine",
        ["job"] = "right",
        ["dimension"] = "minecraft:overworld",
        ["home"] = {
          ["x"] = 30,
          ["y"] = 64,
          ["z"] = 0,
          ["facing"] = "north",
        },
        ["bounds"] = {
          ["min"] = {
            ["x"] = 26,
            ["y"] = 63,
            ["z"] = -8,
          },
          ["max"] = {
            ["x"] = 34,
            ["y"] = 66,
            ["z"] = 0,
          },
        },
        ["length"] = 6,
        ["branchInterval"] = 3,
        ["branchLength"] = 2,
        ["torchInterval"] = 3,
        ["outputSide"] = "down",
        ["supplySide"] = "up",
        ["fuelMargin"] = 8,
        ["torchReserve"] = 1,
        ["fillReserve"] = 8,
      },
      ["footprint"] = {
        ["min"] = {
          ["x"] = 25,
          ["y"] = 63,
          ["z"] = -9,
        },
        ["max"] = {
          ["x"] = 35,
          ["y"] = 66,
          ["z"] = 1,
        },
      },
    },
  },
}
